In [1]:
#CREATING A DICTIONARY TO STORE INFORMATION ABOUT A PERSON
person ={
    "name":"fizza",
    "age": 20,
    "city":"lahore",
    "hobbies":["reading","traveling","playing"]
}
print(person)

{'name': 'fizza', 'age': 20, 'city': 'lahore', 'hobbies': ['reading', 'traveling', 'playing']}

In [2]:
# SIMPLE INVENTORY SYSTEM
inventory = {"apple": 10, "banana":5 , "orange":8}
print("inventory",inventory)
# ADD NEW ITEM
inventory["grapes"]=12
# UPDATE AN ITEM
inventory["apple"] = 15
#REMOVE AN ITEM
del inventory["banana"]
print("update inventory:",inventory)

inventory {'apple': 10, 'banana': 5, 'orange': 8}
update inventory: {'apple': 15, 'orange': 8, 'grapes': 12}

In [7]:
# STORE STUDENT GRADES IN A DICTIONARY
grades = {"fizza":86,"tuba":90,"shaheryar":78}
# CALCULATE THE AVERAGE GRADE
average = sum(grades.values())/len(grades)
print("student grades",grades)
print("average grade",average)

student grades {'fizza': 86, 'tuba': 90, 'shaheryar': 78}
average grade 84.66666666666667

In [26]:
# SIMPLE INVENTORY SYSTEM
inventory = {
    "apple":{"quantity":10,"price": 50},
    "banana":{"quantity":5,"price":30},
    "orange":{"quantity":2,"price":40}
}
# ADD NEW PRODUCT
inventory["grapes"]={"quantity":4,"price":60}
#UPDATE QUANTITY
inventory["apple"]["quantity"]=8
#CALCULATE TOTAL VALUE
TOTAL=0
for item in inventory:
    total= inventory[item]["quantity"]*inventory[item]["price"]
print("total value:",total)
#SHOW LOW STOCK ITEMS
print("low stock item:")
for item in inventory:
    if inventory[item]["quantity"]<3:
        print(item,"-",inventory[item]["quantity"],"left")

total value: 240
low stock item:
orange - 2 left

In [25]:
#STUDENT GRADEBOOK PROGRAM
students={
    "Fizza":{"Math":85,"English":78,"Science":92},
    "Tuba":{"Math":90,"English":88,"Science":80},
    "Fatima":{"Math":70,"English":75,"Science":68}
}
#AVERAGE OF EACH STUDENT
for name in students:
    grades = students[name]
    avg=(grades["Math"]+grades["English"]+grades["Science"])/3
    print(name,"average:",avg)
#HIGHEST AND LOWEST IN ONE SUBJECT
subject="Math"
marks=[students[name][subject]for name in students]
print("\nIN",subject,"Highest:",max(marks),"lowest:",min(marks))
#SORT BY AVERAGE 
averages = {}
for name in students:
    grades = students[name]
    avg=(grades["Math"]+grades['English']+grades["Science"])/3
    averages[name]=avg
print("\nstudents sorted by average:")
for name in sorted(averages,key=averages.get,reverse=True):
    print(name,":",averages[name])

Fizza average: 85.0
Tuba average: 86.0
Fatima average: 71.0

IN Math Highest: 90 lowest: 70

students sorted by average:
Tuba : 86.0
Fizza : 85.0
Fatima : 71.0